body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

#page {
    max-width: 500px;
    margin: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

a {
    color: #9ac;
}

dialog {
    color: white;
    background-color: steelblue;
    max-width: 20em;
    border-radius: 1em;
    text-align: center;
}

#answer, #reason {
    text-align: center;
    margin: 10px auto;
}

#answer {
    font-size: 7em;
    width: 2em;
    padding-left: .1em;
    padding-right: .1em;
    border-radius: 50px;
    border: 10px solid gray;
}

#reason {
    width: 25em;
}

.yes {
    background-color: green;
}

.no {
    background-color: red;
}

.maybe {
    background-color: blue;
}