* {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

#page {
    width: 400px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #100;
    padding: 5px;
    box-shadow: 0 0 10px #933;
}

h1 {
    font-size: 2em;
    margin: 10px;
}

a {
    color: #9ac;
}

dialog {
    color: white;
    background-color: steelblue;
    max-width: 300px;
    border-radius: 5px;
}

#answer, #reason {
    margin: 10px auto;
}

#answer {
    width: 300px;
    /*eight: 100px;*/

    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    /*border: 10px solid gray;*/
    font-size: 6em;
    font-weight: bold;
}

#reason {

}

.maybe {
    background-color: #004;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { color: white; }
    50% { color: #004; }
    100% { color: white; }
}

.yes {
    background-color: green;
}

.no {
    background-color: red;
}
